openapi: 3.0.0
info:
  title: 'MedArea RESTful API'
  version: 1.0.1
paths:
  /api/auth/login:
    post:
      tags:
        - auth
        - api
      description: 'Authorization of user.'
      operationId: apiAuthLogin
      requestBody:
        $ref: '#/components/requestBodies/LoginRequest'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResource'
        '400':
          description: 'Bad request. Nickname or password incorrect.'
        '422':
          description: 'Validation error.'
  /api/auth/refresh:
    post:
      tags:
        - auth
        - api
      description: 'Refresh token for authenticated user.'
      operationId: apiAuthRefresh
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResource'
        '401':
          description: Unauthorizied.
        '500':
          description: 'Internal server error.'
  /api/auth/logout:
    post:
      tags:
        - auth
        - api
      description: 'Logout for authenticated user.'
      operationId: apiAuthLogout
      responses:
        '204':
          description: 'Success. No content.'
        '401':
          description: Unauthorizied.
  /api/register:
    post:
      tags:
        - user
        - auth
        - api
      description: 'Registration of new user.'
      operationId: apiUsersRegister
      requestBody:
        $ref: '#/components/requestBodies/RegisterUserRequest'
      responses:
        '200':
          description: 'User created.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResource'
  '/email/verify/{id}/{hash}':
    get:
      tags:
        - user
        - verification
        - auth
        - api
      description: 'Verify email of user.'
      operationId: apiUsersEmailVerify
      parameters:
        -
          name: id
          in: path
          description: 'id verification'
          required: true
          schema:
            type: string
        -
          name: hash
          in: path
          description: 'hash verification'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Email verified.'
        '401':
          description: Unauthorized.
  /email/verification-notification:
    get:
      tags:
        - user
        - verification
        - auth
        - api
      description: 'Send email verification notification.'
      operationId: apiUsersEmailVerificationNotification
      responses:
        '200':
          description: 'Email notification sended.'
        '401':
          description: Unauthorized.
  /api/users/me:
    get:
      tags:
        - user
        - api
      description: 'Get data of current user.'
      operationId: apiUsersMe
      responses:
        '200':
          description: 'User data.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResource'
        '401':
          description: Unauthorizied.
  '/api/users/{id}':
    get:
      tags:
        - user
        - api
      description: 'Get user data by id.'
      operationId: apiUsersShow
      parameters:
        -
          name: id
          in: path
          description: 'user id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'User data.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResource'
        '401':
          description: Unauthorizied.
        '403':
          description: Forbidden.
        '404':
          description: 'Not found.'
components:
  schemas:
    AnalysResource:
      title: AnalysResource
      properties:
        id:
          description: 'ID of analys'
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
        name:
          description: 'Name of analys'
          type: string
      type: object
    UserAnalysResource:
      title: UserAnalysResource
      properties:
        id:
          description: 'ID User Analys'
          type: string
          format: uuid
        user:
          description: 'ID User'
          type: string
        analys_id:
          description: 'ID Analys'
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
        analys_name:
          description: 'Name Analys'
          type: string
        data:
          description: 'Data Analys'
          type: number
          format: float
        created_at:
          description: 'Datetime created at of analys for user'
          type: string
          format: date-time
        updated_at:
          description: 'Datetime updated at of analys for user'
          type: string
          format: date-time
      type: object
    TokenResource:
      title: TokenResource
      properties:
        access_token:
          description: 'Access token'
          type: string
        token_type:
          description: 'Type of token'
          type: string
          enum:
            - bearer
        expires_in:
          description: 'Expires token in'
          type: integer
      type: object
    UserResource:
      title: UserResource
      properties:
        id:
          description: 'UUID of user'
          type: string
          format: uuid
        nickname:
          description: 'Nickname of user'
          type: string
        email:
          description: 'Email of User'
          type: string
        created_at:
          description: 'Datetime created at of user'
          type: string
          format: date-time
        updated_at:
          description: 'Datetime updated at of user'
          type: string
          format: date-time
      type: object
  requestBodies:
    CreateUserAnalysisRequest:
      description: 'Create many UserAnalys Request'
      content:
        application/json:
          schema:
            properties:
              user_id:
                description: 'User Id for analysis'
                format: string
              analysis:
                properties:
                  user_id: { description: 'User Id for analys', format: string }
                  analys_id: { description: 'Analys ID', format: string, enum: [1, 2, 3, 4] }
                  data: { description: 'Value of analys', format: float }
                type: object
            type: object
    LoginRequest:
      description: 'Authorizarion user request'
      content:
        application/json:
          schema:
            properties:
              nickname:
                description: 'Nickname of user'
                format: string
              password:
                description: 'Password of user'
                format: string
            type: object
    RegisterUserRequest:
      description: 'Registration Request'
      content:
        application/json:
          schema:
            properties:
              nickname:
                description: 'Nickname of User'
                format: string
              email:
                description: 'Email of User'
                format: email
              password:
                description: 'Password of User'
                format: string
              password_confirmation:
                description: 'Repeat password to confirm'
                format: string
            type: object
tags:
  -
    name: auth
    description: auth
  -
    name: api
    description: api
  -
    name: user
    description: user
  -
    name: verification
    description: verification
